.subscriptions-container {
    padding: 20px;
    background-color: #121212;
    color: white;
}

.subscriptions-list {
    list-style: none;
    padding: 0;
}

.subscription-item {
    padding: 10px;
    margin: 10px 0;
    background-color: #1e1e1e;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subscription-title {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    flex-grow: 1; 
    margin-right: 20px; 
}

.subscription-title:hover {
    text-decoration: underline;
}

.controls {
    display: flex;
    align-items: center;
}

.unsubscribe-button {
    background-color: #e63946;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
}

.unsubscribe-button:hover {
    opacity: 0.8;
}

.play-button {
    background: none;
    border: none;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
    margin-right: 10px;
}

.play-button.playing {
    color: #1db954;
}

.play-button:hover {
    opacity: 0.8;
}
